table button
{
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s;
    padding: 10px 20px;
}

table button.false_confirmes
{
    opacity: 0.2;
}

table button:hover
{
    opacity: 1;
    background: #ff9b76;
    box-shadow: 1px 3px  10px inset;
    border-radius: 50%;
}

table button.true_confirmes:hover
{
    background: #31ff0f;
}